<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<div id="content">
    <h1>Sensores</h1>
    <table>
        <thead>
            <tr>
                <th>Sensores</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>LED</span>
                </td>
                <td>
                    <button type="button" onclick=goLed() id="button-led" class="btn btn-primary btn-sm btn-round" onclick="return false"><span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Temperatura</span>
                </td>
                <td>
                    <button type="button" onclick=goTemp() id="button-temp" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LCD</span>
                </td>
                <td>
                    <button type="button" onclick=goLcd() id="button-lcd" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Alarma</span>
                </td>
                <td>
                    <button type="button" onclick=goBuzzer() id="button-buzzer" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
<script type="text/javascript">
    $('#button-led').attr('disabled', 'disabled');
    $('#button-temp').attr('disabled', 'disabled');
    $('#button-lcd').attr('disabled', 'disabled');
    $('#button-buzzer').attr('disabled', 'disabled');
    if("<%= sensor[0] %>" === 'enabled'){
        $('#button-led').attr('disabled', false);
    }
    if("<%= sensor[1] %>" === 'enabled'){
        $('#button-temp').attr('disabled', false);
    }
    if("<%= sensor[2] %>" === 'enabled'){
        $('#button-lcd').attr('disabled', false);
    }
    if("<%= sensor[3] %>" === 'enabled'){
        $('#button-buzzer').attr('disabled', false);
    }

    function goLed(){
                window.location = "http://localhost:3000/led?id=<%= id %>";
                //window.location = "https://tfg-raspi.herokuapp.com/led?id=<%= id %>";
    }

    function goTemp(){
                window.location = "http://localhost:3000/temperature?id=<%= id %>";
                //window.location = "https://tfg-raspi.herokuapp.com/temperature?id=<%= id %>";
    }

    function goLcd(){
                window.location = "http://localhost:3000/lcd?id=<%= id %>";
                //window.location = "https://tfg-raspi.herokuapp.com/lcd?id=<%= id %>";
    }
    function goBuzzer(){
                window.location = "http://localhost:3000/buzzer?id=<%= id %>";
                //window.location = "https://tfg-raspi.herokuapp.com/buzzer?id=<%= id %>";
    }
</script>
</div>
<% include ../views/template/footer %>

